/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: Arista;
  src: url("./fonts/arista.ttf");
}

@font-face {
  font-family: Varela;
  src: url("./fonts/varelaround.ttf");
}


.font-aristia {
  font-family: 'Arista', sans-serif;
}

.font-valera {
  font-family: 'Valera', sans-serif;
}
