@import 'bootstrap/scss/bootstrap';
@import 'scss/vars';
@import 'scss/containers';
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arista;
  src: url("./assets/fonts/arista.ttf");
}

@font-face {
  font-family: Varela;
  src: url("./assets/fonts/varelaround.ttf");
}


.font-aristia {
  font-family: 'Arista', sans-serif;
}

.font-valera {
  font-family: 'Valera', sans-serif;
}

