
.container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-all-viewport{
    width: 100vw;
    height: 100vh;
}

.container-reduce-viewport{
  width: 90vw;
  height: 90vh;
}

.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500fr));
  grid-auto-rows: 250px;
  gap: 1rem;
  padding: 1rem;
}

.container-grid-item{
  border-radius: 1rem;
  background-color: var(--gray-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.container-grid-item span{
  z-index: 2;
}

.container-grid-item-bg {
  z-index: 1;
  height: 128px;
  width: 128px;
  position: absolute;
  background-color: #f9b234;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

.container-grid-item:hover {

  color: white;

  .container-grid-item-bg{
    transform: scale(1);
    top: 0px;
    right: 0px;
    border-radius: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
